html, body { 
	width: 100%; 
	height: 100%; 
}
body {
	background-color: #EFECE5;
}
form, body, td, div { 
	margin: 0; 
	padding: 0; 
}
body * {
	line-height: 1.7;
}
body, div, td, p { 
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-size: 12px; 
	color: #333;  
	text-align: left; 
	vertical-align: top; 
}
p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}
ul, ol { 
	margin: 0 0 10px 20px; 
	padding: 0; 
}
a {
	color: #BD3015; 
	outline: none;
	text-decoration: none; 
}
a:hover { 
	text-decoration: underline; 
}

h1, h2, h3, h4, h5, h6 { 
	font-family: Georgia, "Times New Roman", Times, "met schreef"; 
	color: #BD3015; 
	margin: 0; 
	font-weight: normal;
	text-shadow: 0 1px #fff;
}
h1 { font-size: 30px; padding: 25px 0; }
h2 { font-size: 25px; padding: 24px 0; }
h3 { font-size: 22px; padding: 23px 0; }
h4 { font-size: 19px; padding: 23px 0; }
h5 { font-size: 16px; padding: 22px 0; }
h6 { font-size: 13px; padding: 22px 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	color: #666;  
}

img { border-color: #999;}

label { 
	width: 85px;
	display: block; 
	float: left; 
	margin: 0; 
	padding: 7px 0 0 15px; 
}
label.bericht { 
	padding: 10px 0 0 15px; 
}
input, textarea, select { 
	font-size: 12px; 
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
}
textarea { 	width: 300px; height: 150px; padding: 10px 0 0 10px; line-height: 18px; }
input.txt { width: 300px; height: 24px; padding: 4px 0 0 10px;  display: block; float: left; }
input.txt, textarea { 
	margin: 0 0 5px 0; 
	background-color: #EFECE5; 
	border: solid 1px #999; 
	outline: none;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
input.txt:focus, textarea:focus { background-color: white; }

input.postcode { 	width: 60px; margin-right: 10px; }
input.plaats { 		width: 173px; }
div.alt { display: none; }


div#fancy_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 30;
}

div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}

div#fancy_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url('fancy_progress.png') no-repeat;
}

div#fancy_outer {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 20px 20px 40px 20px;
    margin: 0;
    background: transparent;
    display: none;
}

div#fancy_inner {
	position: relative;
	width:100%;
	height:100%;
	background: #FFF;
}

div#fancy_content {
	margin: 0;
	z-index: 100;
	position: absolute;
}

div#fancy_div {
	background: #000;
	color: #FFF;
	height: 100%;
	width: 100%;
	z-index: 100;
}

img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	border:0; 
	padding: 0; 
	margin: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

div#fancy_close {
	position: absolute;
	top: -12px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: url('fancy_closebox.png') top left no-repeat;
	cursor: pointer;
	z-index: 181;
	display: none;
}

#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

#fancy_ajax {
	width: 100%;
	height: 100%;
	overflow: auto;
}

a#fancy_left, a#fancy_right {
	position: absolute; 
	bottom: 0px; 
	height: 100%; 
	width: 35%; 
	cursor: pointer;
	z-index: 111; 
	display: none;
	background-image: url("data:image/gif;base64,AAAA");
	outline: none;
	overflow: hidden;
}

a#fancy_left {
	left: 0px; 
}

a#fancy_right {
	right: 0px; 
}

span.fancy_ico {
	position: absolute; 
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	z-index: 112; 
	cursor: pointer;
	display: block;
}

span#fancy_left_ico {
	left: -9999px;
	background: transparent url('fancy_left.png') no-repeat;
}

span#fancy_right_ico {
	right: -9999px;
	background: transparent url('fancy_right.png') no-repeat;
}

a#fancy_left:hover, a#fancy_right:hover {
	visibility: visible;
	background-color: transparent;
}

a#fancy_left:hover span {
	left: 20px; 
}

a#fancy_right:hover span {
	right: 20px; 
}

#fancy_bigIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

div#fancy_bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}
	
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}

div#fancy_bg_n {
	top: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: transparent url('fancy_shadow_n.png') repeat-x;
}

div#fancy_bg_ne {
	top: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_ne.png') no-repeat;
}

div#fancy_bg_e {
	right: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('fancy_shadow_e.png') repeat-y;
}

div#fancy_bg_se {
	bottom: -20px;
	right: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_se.png') no-repeat;
}

div#fancy_bg_s {
	bottom: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	background: transparent url('fancy_shadow_s.png') repeat-x;
}

div#fancy_bg_sw {
	bottom: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_sw.png') no-repeat;
}

div#fancy_bg_w {
	left: -20px;
	height: 100%;
	width: 20px;
	background: transparent url('fancy_shadow_w.png') repeat-y;
}

div#fancy_bg_nw {
	top: -20px;
	left: -20px;
	width: 20px;
	height: 20px;
	background: transparent url('fancy_shadow_nw.png') no-repeat;
}

div#fancy_title {
	position: absolute;
	z-index: 100;
	display: none;
}

div#fancy_title div {
	color: #FFF;
	font: bold 12px Arial;
	padding-bottom: 3px;
	white-space: nowrap;
}

div#fancy_title table {
	margin: 0 auto;
}

div#fancy_title table td {
	padding: 0;
	vertical-align: middle;
}

td#fancy_title_left {
	height: 32px;
	width: 15px;
	background: transparent url('fancy_title_left.png') repeat-x;
}

td#fancy_title_main {
	height: 32px;
	background: transparent url('fancy_title_main.png') repeat-x;
}

td#fancy_title_right {
	height: 32px;
	width: 15px;
	background: transparent url('fancy_title_right.png') repeat-x;
}


/*	Basis spul
*/
.clearer {
	float: none;
	clear: both;
}
.container400, .container500, .container600, .container700, .container800 {
	margin: 0 auto 30px auto;
	padding-bottom: 50px;
	border: none;
}
.container400 {	width: 400px; padding-left: 200px;	padding-right: 200px;	}
.container500 {	width: 500px; padding-left: 150px;	padding-right: 150px;	}
.container600 {	width: 600px; padding-left: 100px;	padding-right: 100px;	}
.container700 {	width: 700px; padding-left: 50px;	padding-right: 50px;	}
.container800 {	width: 800px; padding-left: 0; 		padding-right: 0;		}

.border {
	padding: 9px;
	border: 1px solid #ccc;
	background-color: white;
}
center.border {
	padding-top: 20px;
	padding-bottom: 20px;
}
center.wit {
	display: block;
	padding: 20px 0;
	background-color: white;
}

img.schaduw, #werk_overzicht img, #zoekresultaten img, #featured img, .schaduw img {
	border: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
img.schaduw {
	margin: 0 20px 5px 20px;
}
#werk_overzicht img {
	margin: 0 10px 20px 10px;
}
#featured img {
	margin: 0 20px 20px 0;
}

/*	Header
*/
#topwrapper, #topwrapper.container800 {
	padding-bottom: 0;
	margin-bottom: 0;
}
#headerwrapper, #logo, #footer {
	height: 200px;
	width: 800px;
}
#headerwrapper {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

#header {
	height: 400px;
	width: 800px;
	position: absolute;
}
#logo {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center top;
}
#logo span {
	display: none;
}
#logo.welkom,
#logo.delicious,
#logo.disclaimer,
#logo.mobiel {		background-image: url(../images/titel-welkom.png);		}
#logo.werk {		background-image: url(../images/titel-werk.png);		}
#logo.blog {		background-image: url(../images/titel-blog.png);		}
#logo.contact {		background-image: url(../images/titel-contact.png);		}

#footerwrapper {
	display: none;
}

#footer_top, #footer_disclaimer {
	height: 75px;
	padding: 25px 100px 0 150px;
}
#footer_top {
	border: none;
	border-bottom: 1px solid #ccc;
}
#footer_top ul, #footer_top ul li, #footer_top ul li a {
	display: block;
	margin: 0;
}
#footer_top ul, #footer_top ul li {
	list-style: none;
	height: 25px;
	padding: 0;
}
#footer_top ul#footer_rss {
	width: 125px;
}
#footer_top ul#footer_validation {
	width: 140px;
}
#footer_top ul {
	float: left;
}
#footer_top ul a {
	color: #333;
}
#footer_top ul li a {
	width: 110px;
	height: 22px;
	padding: 3px 0 0 30px;
}
#footer_rss li a {
	background: url(../images/rss.png) no-repeat;
}
#footer_validation li a {
	background: 0 0 no-repeat transparent;
}
#footer_validation li.invalid a {
	background-image: url(../images/invalid.png);
}
#footer_validation li.valid a {
	background-image: url(../images/valid.png);
}
#footer_inlog {
	float: right;
	width: 260px;
}
#footer_inlog p {
	padding: 2px 0;
	margin: 0;
	height: 20px;
	border: none;
	border-bottom: 1px solid #ccc;
}
#footer_inlog p label, #footer_inlog p input {
	margin: 0;
	display: block;
}
#footer_inlog p label {
	float: left;
	text-align: right;
	width: 100px;
	height: 20px;
	padding: 0;
}
#footer_inlog p input {
	background-color: transparent;
	border: none;
	float: right;
	width: 150px;
	height: 16px;
	padding: 4px 0 0 0;
}
#footer_inlog p#inloglink {
	border-bottom: none;
	text-align: right;
	padding-right: 20px;
}
#footer_inlog p#uitloglink {
	border-bottom: none;
}
#footer_disclaimer p {
	font-size: 11px;
	line-height: 16px;
	margin: 0;
	padding: 0;
}
#footer_disclaimer p a {
	color: #333333;
}

/*	Menu
*/
#menuwrapper {
	height: 40px;
}
#menu, #menu li, #menu li a, #menu li span {
	display: block;
	list-style: none;
	height: 40px;
}
#menu li a span, #menu li span span {
	display: none;
}
#menu {
	z-index: 500;
	margin: 0;
	padding: 0 0 0 290px;
	width: 510px;
	background: url(../images/menu-bg.png) repeat-x transparent;
	position: absolute;
}
#menu.fixed {
	position: fixed;
	top: 0;
}
#menu.welkom {	background-position:	5px 0;	}
#menu.blog {	background-position:	55px 0;	}
#menu.werk {	background-position:	107px 0;	}
#menu.contact {	background-position:	162px 0;	}

#menu li, #menu li a, #menu li span {
	float: left;
}
#menu li a, #menu li span {
	background-image: url(../images/menu-sprite.png);
	background-repeat: no-repeat;
}
#menu li a {
	text-decoration: none;
}

#m1 {	width: 57px;	}
#m2 {	width: 48px;	}
#m3 {	width: 51px;	}
#m4 {	width: 67px;	}

a#m1 {		background-position: 0 0; }
a#m2 {		background-position: -100px 0; }
a#m3 {		background-position: -200px 0; }
a#m4 {		background-position: -300px 0; }

span#m1 {	background-position: 0 -40px; }
span#m2 {	background-position: -100px -40px; }
span#m3 {	background-position: -200px -40px; }
span#m4 {	background-position: -300px -40px; }

#menu li#zoeken {
	float: right;
	width: 135px;
}
#menu li#zoeken span {
	background-image: url(../images/zoekveld.png);
	width: 135px;
}
#menu li#zoeken input {
	margin: 15px 0 0 30px;
	padding: 0;
	width: 90px;
	height: 15px;
	background-color: transparent;
	border: none;
}

/*	actie resultaat
*/
#actie_resultaat.container500 {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-top: 50px;
}
#actie_resultaat.container500 h3 {
	margin: 0;
	padding: 0;
}
#actie_resultaat.container500 p {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

/*	Zoekresultaten 
*/
#zoekresultaten div {
	position: relative;
	background-color: #E9E5DB;
	border: none;
 	border-bottom:	1px solid #D8D0C0;
	border-top:		1px solid white;
	height: 90px;
}
#zoekresultaten div.zoekbezig img {
	top: 30px;
	left: 380px;
}
#zoekresultaten div.hover {
	background-color: #E4DED2;
}
#zoekresultaten div.first_child {
	border-top: none;
}
#zoekresultaten div.last_child {
	border-bottom: 1px solid #ccc;
}
#zoekresultaten div img {
	position: absolute;
	top: 15px;
	left: 60px;
}
#zoekresultaten div h3 {
	position: absolute;
	top: 15px;
	left: 150px;
	margin: 0;
	padding: 0;
}
#zoekresultaten div h3 span {
	font-size: 12px;
}
#zoekresultaten div p {
	position: absolute;
	top: 50px;
	left: 150px;
	margin: 0;
	padding: 0;
}
#content, #blog_overzicht, #werk_overzicht, #werk_detail {
	padding-top: 80px;
}

/*	Home
*/
#favis p a {
	color: #333;
}

/*	Blog overzicht
*/
#blog_overzicht.container800 {
	border-bottom: none;
	margin-bottom: 50px;
	padding-bottom: 0;
}
div.geen_berichten {
	
}
div.bericht {
	margin-bottom: 40px;
	
}
div.bericht h2 {
	margin: 0;
	padding: 10px 0 10px 150px;
}
div.bericht div {
}
div.bericht div .data {
	float: left;
	width: 120px;
	text-align: right;
}
div.bericht div .data a {
}
 div.bericht div div.tekst {
	float: right;
	width: 550px;
	margin-right: 100px;
}
div.bericht div div.tekst p {
}

/*	Blog enkel bericht
*/
h3#reacties {
	padding: 50px 0 23px 155px;
}
#reageer {
	width: 650px;
	margin: 0 auto;
	padding: 0 0 50px 150px;
}
#reageer h3 {
	padding-top: 0;
}
table tr td.submitter {
	text-align: right;
	padding: 10px 25px 0 0;
}

div.bookmarks {
	border: none;
 	border-bottom:	1px solid #ccc;
	padding: 40px 0 20px 155px;
}
div.bookmarks.werk {
	padding-top: 80px;
}
div.bookmarks * {
	color: #333; 
}
div.bookmarks a {
	background-repeat: no-repeat;
	background-position:  20px 0;
	padding: 8px 0 4px 50px;
}

a#book_delicious 	{	background-image: url(../images/delicious.png);	}
a#book_stumbleupon 	{	background-image: url(../images/stumbleupon.png);	}
a#book_digg			{	background-image: url(../images/digg.png);	}

/*	Werk
*/
#werk_detail.container800 {
	padding-bottom: 10px;
}
h3.download_demo {
	float: right; 
	margin: 10px 200px 0 0;
}

/*	Paginering
*/
#prevnext {
	width: 800px;
	padding: 30px 0 30px 0;
	border: none;
	border-bottom: 1px solid #ccc;
}
#prevnext.overzicht {
	border: none;
	border-top: 1px solid #ccc;
}
#prevnext #prev, #prevnext #next, #prevnext h4 {
	width: 380px;
}
#prevnext #prev {
	float: left;
}
#prevnext #next {
	float: right;
	text-align: right;
}

/*	Adsense 
*/
#adsense_728x90 {
	margin: 60px 0 40px -150px;
	width: 730px;
}
#adsense_120x240 {
	margin: 100px 0 0 0;
}
#adsense_250x250 {
	float: right;
	width: 250px;
	height: 250px;
}