/*Disable Default Spacing */
* {margin:0;padding:0;}

body {margin:0;padding:0;font-family:arial,verdana,sans-serif;font-weight:lighter;text-align:center;color:#000;font-size:100%}

#disabled {display:none;}
.noscript .enabled {display:none;}
.noscript .disabled {display:block;}
.enabled {display:block}
.disabled{display:none}

#wrapper {width:100%;}
/*#main {height:1%;overflow:auto;background-color:#e0eaf7;}*/
#main {height:1%;overflow:auto;background-color:#efeff8;}
#main, #header, #footer {width:100%;margin:auto;}
#mainpart {float:right;width:85%;background-color:#fff;}
#header {background-color:#efeff8;height:70px;}

#mainpart .ui-widget {
	text-align:left;
}

.logoBar {vertical-align:bottom;background-color:#efeff8;width:716px;height:70px}

#logo {margin:0;float:left;border:none;background-color:#efeff8;}
#logoNav ul {list-style:none;text-align:right;background-color:#efeff8;}
#logoNav li {list-style:none;font-size:0.8em;}
#logoNav a {text-decoration:none;color:#333;}
#logoNav a:hover {text-decoration:underline;}

#footer {clear:both;}

#leftNav {
	background-color:#efeff8;
	/* width:167px;*/
	/*min-width:135px;
	max-width:167px;*/
	width:15%;
	min-width:12.5em;
	padding-top:1.25em;
	padding-right:0.3125em;
	padding-left:0.625em;
	margin:0;
	/*border-right-color:#b4c8de;
	border-right-style:solid;
	border-right-width:0.125em;*/
	vertical-align: top;
	text-align:left;
	height:1%;
	font-size:0.9em;
}
#leftNav ul {
	margin-left:0.625em;
	list-style:none;
}

#leftNav li {
	font-size: 1em;
	color: #000000;
}
#leftNav .actNav {
	background:#efeff8 url(../images/arrow_nav_left.gif) left no-repeat;text-align:left;
	padding-left:0.85em;
}
#leftNav li a {
	text-decoration:none;
	color:#000000;
}

#footer {
	height:1em;
	border-top-color:#b4c8de;
	border-top-style:solid;
	border-top-width:0.125em;
	text-align:center;
}

/*
	Form styles
*/

#edit_form {
	text-align:left;
	padding-left:0.31em;
}

#edit_form form {
    border:0 solid #004f6e;
    background: #ffffff;
    margin:0;
	width: 100%;
    /* padding:17px 0 10px 0; */
	font-size:0.9em;
}

#edit_form fieldset {
    /* padding:0 40px 35px 52px; */
	/*padding:0 20px 0px 20px;*/
	padding-top:0.75em;
	padding-bottom:0.75em;
	padding-left:0;
	padding-right:0;
    border:0px solid transparent;
	width:100%;
}

#edit_form .fieldset_left {
    padding:0 40px 35px 5px;
    border:0px solid transparent;
}

#edit_form fieldset legend {
    font-weight:bold;
    font-size:1.2em;
	text-decoration:underline;
    padding:0;
    margin:0 0 0 0;
	padding-top:0.5em;
	padding-left:0;
	padding-right:0;
    color:#004f6e;
}

#edit_form fieldset ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

#edit_form .fsborder {
	padding: 0.1em;
	border: 0.1em solid #000000;
}

#edit_form .fslegend {
	font-weight:bold;
    font-size:1.2em;
	text-decoration:underline;
    padding:0;
    margin:0 0 0 0;
	padding-top:0.5em;
	padding-left:0em;
	padding-right:0em;
    color:#004f6e;
}

#edit_form li {
    float:left;
    margin:0 0 0.3125em 0;
    padding:0;
    /*width:500px;*/
    width: 100%;
}

#edit_form label {
    float:left;
    line-height:167%;
    width:12.5em;
    min-width:2.125em;
    cursor: pointer;
}

#edit_form label.label_small {
    float:left;
    line-height:167%;
    width:3.75em;
    min-width:1.25em;
    cursor: pointer;
}

#edit_form label.label_medium {
    float:left;
    line-height:167%;
    width:6.25em;
    min-width:1.25em;
    cursor: pointer;
}

#edit_form label.label_big {
    float:left;
    line-height:167%;
    width:10.4em;
    min-width:1.25em;
    cursor: pointer;
}

#edit_form input {
    float:left;
    height:1.5em;
    width: 10.06em;
    border:0.0625em solid #000; /*#1795be;*/
    -moz-border-radius:0.19em;
    -webkit-border-radius:0.19em;
    padding:0;
    background:#FCFFCA;
    font-size:100%;
}

#edit_form input.button {
	height:1.8em;
}

#edit_form input.inputButton {
    float:left;
    height:1.5em;
    width: 1.5em;
    border: 0em;
    background: #fff;
}

#edit_form .imgButton {
	background-color:#fff;
	border: 0em solid transparent;
}

#edit_form input.checkbox {
	width:1em;
	height:1em;
	border: 0px solid transparent;
} 

#edit_form input.readonly {
   background: #DAF7FF;
}

#edit_form input.mandatory {
   border:0.125em solid #00f;
}

#edit_form input.tiny {
    width:1em;
}

#edit_form input.small {
    width:2.375em;
}

#edit_form input.number {
    width:4.56em;
}

#edit_form input.medium {
    width:7.7em;
}

#edit_form input.large {
    width:15em;
}

#edit_form input.large_nofloat {
    width:13.75em;
    float: none;
}

#edit_form input.huge {
    width:280px;
}

#edit_form input.megahuge {
    width:40em;
}

#edit_form input.contentchanged {
	background-color: #fadf0e;
}

#edit_form .contentchanged {
	background-color: #fadf0e;
}

#edit_form .spselect {
	float:left;
}
	
#edit_form select.large {
    width:11.252em;
}

#edit_form select.huge {
    width:17.5em;
}

#edit_form input.radio {
	background:#fff;
	border: 0px solid transparent;
}

#edit_form input.image {
	background: #fff;
	border: 0px solid transparent;
}

.inputSpace {
    margin:0 0.25em 0 0;
}

.inputSpaceButton {
    margin:0 0.94em 0 0;
}

#edit_form input:active, input:hover, input:focus {
    background-color: #d9f0f9;
}

#edit_form em {
    font-weight:bold;
    font-size:142%;
    color:#E00;
}

#edit_form input.error {
    border-color:#E00;
    color:#E00;
    background-color:#FFDCE5;
}

#edit_form select.error {
    border-color:#E00;
    color:#E00;
    background-color:#FFDCE5;
}

#edit_form textarea.error {
    border-color:#E00;
    color:#E00;
    background-color:#FFDCE5;
}

#edit_form input.btnCancel, input.btnSend {
    margin: 15px 0 0 0;
    float:left;
    width:5.31em;
    height:1.38em;
    font-weight: normal;
    color: #004f6e;
    text-align: center;
    padding:0;
    border:0.0625em solid #0B6487;
    -moz-border-radius:0.19em;
    -webkit-border-radius:0.19em;
    cursor:pointer;
    background-color: #FFF;
}

#edit_form input.btnSend  {
    float:right;
    font-weight:bold;
    color:#FFF;
    margin:0px 0em 0 0;
    background: #1795be url(./images/bg_btnSend.png) 0px 0px repeat-x;
 }
 
#edit_form input.btnSend:hover, input.btnSend:active, input.btnSend:focus {
    background-image:url(./images/bg_btnSendActive.png);
}

#edit_form table {
	width:100%;
}
#edit_form th {
	font-weight: bold;
	background-color: #ddeeff;
	white-space:nowrap;
	font-size: 1em;
	padding-left: 0.31em;
	padding-right: 0.31em;
}

#edit_form td {
	padding-left: 0.31em;
	padding-right:0.31em;
	/*white-space:nowrap;*/
}

#edit_form a {
	color:#000000;
	text-decoration:none;
}
#edit_form a:hover, a:active {
	color:#0000ff;
	text-decoration:none;
}
#edit_form a:visited {
	text-decoration:none;
}

.tr_highlight {
	background-color: #e3e3e3;
}

.nowrap {
	white-space:nowrap;
	clear:both;
}

#leftColumn {
 	float: left;
	width: 50%;
}
 
#rightColumn {
 	float: right;
	width: 50%;
}
 
#dlgLeftColumn {
 	float: left;
	width: 47%;
	padding: 0.625em 0.625em 0.625em 0.625em;
	white-space:nowrap;
	border-right-color: #fff;
	border-right-style: solid;
	border-right-width: 0.0625em;
}
 
#dlgRightColumn {
 	float: right;
	width: 47%;
	padding: 0.625em 0.625em 0.625em 0.625em;
	white-space:nowrap;
}
 
#handles {

}
 
#single {
 	clear: both;
	width: 100%;
	padding: 0.625em 0.625em 0.625em 0.625em;
}
 
.tableheader {
	font-weight: bold;
}

.tbNowrap {
	white-space: nowrap;
}

.tbAlignRight {
	text-align: right;
}

.tbAlignLeft {
	text-align: left;
}

.tbAlignCenter {
	text-align: center;
}

.tbAlignTop {
	vertical-align:top;
}

.tr-odd {
	background-color: #e3e3e3;
}

.odd {
	background-color: #e3e3e3;
}

.tr-even {
	background-color: #def;
}

.tr-warn {
	background-color: #dac86d;
}

.tr-warn-therapist {
	background-color: #ffff00;
}

.tr-alert {
	background-color: #ef4242;
}

.small {
	font-size:0.8em;
}

.oldPlanLine {
	color: #ff0000;
}

#search {
	width:25em;
}

#edit_form input.ui-autocomplete-loading { background: white url('./ui-lightness/images/ui-anim_basic_16x16.gif') right center no-repeat; }

#therapist_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#therapist_table td {padding-left:1.25em; padding-right:1.25em;}
#therapist_table th {white-space:nowrap;}
#therapist_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#therapist_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#therapist_table th { 	
	border: 1px solid #cccccc; 
}
#therapist_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#therapist_table th a:hover {
	text-decoration:none;
}	
#therapist_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#therapist_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#therapist_table th.ui-table-desc a:hover,	
#therapist_table th.ui-table-desc a:active,	
#therapist_table th.ui-table-desc a:focus, 
#therapist_table th a:hover,	
#therapist_table th a:active,	
#therapist_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#therapist_table th.ui-table-asc a:hover, 
#therapist_table th.ui-table-asc a:active, 
#therapist_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#therapist_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#childsearch_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#childsearch_table td {padding-left:1.25em; padding-right:1.25em;}
#childsearch_table th {white-space:nowrap;}
#childsearch_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#childsearch_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#childsearch_table th { 	
	border: 1px solid #cccccc; 
}
#childsearch_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#childsearch_table th a:hover {
	text-decoration:none;
}	
#childsearch_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#childsearch_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#childsearch_table th.ui-table-desc a:hover,	
#childsearch_table th.ui-table-desc a:active,	
#childsearch_table th.ui-table-desc a:focus, 
#childsearch_table th a:hover,	
#childsearch_table th a:active,	
#childsearch_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#childsearch_table th.ui-table-asc a:hover, 
#childsearch_table th.ui-table-asc a:active, 
#childsearch_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#childsearch_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#fulldoku_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#fulldoku_table td {padding-left:1.25em; padding-right:1.25em;}
#fulldoku_table th {white-space:nowrap;}
#fulldoku_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#fulldoku_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#fulldoku_table th { 	
	border: 1px solid #cccccc; 
}
#fulldoku_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#fulldoku_table th a:hover {
	text-decoration:none;
}	
#fulldoku_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#fulldoku_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#fulldoku_table th.ui-table-desc a:hover,	
#fulldoku_table th.ui-table-desc a:active,	
#fulldoku_table th.ui-table-desc a:focus, 
#fulldoku_table th a:hover,	
#fulldoku_table th a:active,	
#fulldoku_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#fulldoku_table th.ui-table-asc a:hover, 
#fulldoku_table th.ui-table-asc a:active, 
#fulldoku_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#fulldoku_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#childdoku_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#childdoku_table td {padding-left:1.25em; padding-right:1.25em;}
#childdoku_table th {white-space:nowrap;}
#childdoku_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#childdoku_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#childdoku_table th { 	
	border: 1px solid #cccccc; 
}
#childdoku_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#childdoku_table th a:hover {
	text-decoration:none;
}	
#childdoku_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#childdoku_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#childdoku_table th.ui-table-desc a:hover,	
#childdoku_table th.ui-table-desc a:active,	
#childdoku_table th.ui-table-desc a:focus, 
#childdoku_table th a:hover,	
#childdoku_table th a:active,	
#childdoku_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#childdoku_table th.ui-table-asc a:hover, 
#childdoku_table th.ui-table-asc a:active, 
#childdoku_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#childdoku_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#userlist_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#userlist_table td {padding-left:1.25em; padding-right:1.25em;}
#userlist_table th {white-space:nowrap;}
#userlist_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#userlist_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#userlist_table th { 	
	border: 1px solid #cccccc; 
}
#userlist_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#userlist_table th a:hover {
	text-decoration:none;
}	
#userlist_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#userlist_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#userlist_table th.ui-table-desc a:hover,	
#userlist_table th.ui-table-desc a:active,	
#userlist_table th.ui-table-desc a:focus, 
#userlist_table th a:hover,	
#userlist_table th a:active,	
#userlist_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#userlist_table th.ui-table-asc a:hover, 
#userlist_table th.ui-table-asc a:active, 
#userlist_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#userlist_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#class_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#class_table td {padding-left:1.25em; padding-right:1.25em;}
#class_table th {white-space:nowrap;}
#class_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#class_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#class_table th { 	
	border: 1px solid #cccccc; 
}
#class_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#class_table th a:hover {
	text-decoration:none;
}	
#class_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#class_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#class_table th.ui-table-desc a:hover,	
#class_table th.ui-table-desc a:active,	
#class_table th.ui-table-desc a:focus, 
#class_table th a:hover,	
#class_table th a:active,	
#class_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#class_table th.ui-table-asc a:hover, 
#class_table th.ui-table-asc a:active, 
#class_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#class_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#therapygroups_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#therapygroups_table td {padding-left:1.25em; padding-right:1.25em;}
#therapygroups_table th {white-space:nowrap;}
#therapygroups_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#therapygroups_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#therapygroups_table th { 	
	border: 1px solid #cccccc; 
}
#therapygroups_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#therapygroups_table th a:hover {
	text-decoration:none;
}	
#therapygroups_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#therapygroups_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#therapygroups_table th.ui-table-desc a:hover,	
#therapygroups_table th.ui-table-desc a:active,	
#therapygroups_table th.ui-table-desc a:focus, 
#therapygroups_table th a:hover,	
#therapygroups_table th a:active,	
#therapygroups_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#therapygroups_table th.ui-table-asc a:hover, 
#therapygroups_table th.ui-table-asc a:active, 
#therapygroups_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#therapygroups_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#dokarchive_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#dokarchive_table td {padding-left:1.25em; padding-right:1.25em;}
#dokarchive_table th {white-space:nowrap;}
#dokarchive_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#dokarchive_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#dokarchive_table th { 	
	border: 1px solid #cccccc; 
}
#dokarchive_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#dokarchive_table th a:hover {
	text-decoration:none;
}	
#dokarchive_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#dokarchive_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#dokarchive_table th.ui-table-desc a:hover,	
#dokarchive_table th.ui-table-desc a:active,	
#dokarchive_table th.ui-table-desc a:focus, 
#dokarchive_table th a:hover,	
#dokarchive_table th a:active,	
#dokarchive_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#dokarchive_table th.ui-table-asc a:hover, 
#dokarchive_table th.ui-table-asc a:active, 
#dokarchive_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#dokarchive_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}
#therapygroups_table td[headers~=ui-table-therapist_table-header-6] {text-align:left;white-space: nowrap;}

#dialog-confirm {
	font-size: 0.8em;
}

#postingblock_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#postingblock_table td {padding-left:1.25em; padding-right:1.25em;}
#postingblock_table th {white-space:nowrap;}
#postingblock_table td[headers~=ui-table-ftp_table-header-4] {text-align:right;}
#postingblock_table td[headers~=ui-table-mysql_table-header-1] {text-align:right;}

#postingblock_table th { 	
	border: 1px solid #cccccc; 
}
#postingblock_table th a {	
	padding: 0.5em 2em 0.5em 0.7em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#postingblock_table th a:hover {
	text-decoration:none;
}	
#postingblock_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#postingblock_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#postingblock_table th.ui-table-desc a:hover,	
#postingblock_table th.ui-table-desc a:active,	
#postingblock_table th.ui-table-desc a:focus, 
#postingblock_table th a:hover,	
#postingblock_table th a:active,	
#postingblock_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#postingblock_table th.ui-table-asc a:hover, 
#postingblock_table th.ui-table-asc a:active, 
#postingblock_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#postingblock_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}

#dokarchive_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#dokarchive_table td {padding-left:1px; padding-right:1px;font-size:0.8em;}
#dokarchive_table th {white-space:nowrap;}
#dokarchive_table td[headers~=ui-table-dokarchive_table-header-8] {white-space:nowrap;}

#dokarchive_table th { 	
	border: 1px solid #cccccc; 
}
#dokarchive_table th a {	
	/*padding: 0.5em 2em 0.5em 0.7em; */
	padding: 0em 0em 0em 0em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#dokarchive_table th a:hover {
	text-decoration:none;
}	
#dokarchive_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#dokarchive_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#dokarchive_table th.ui-table-desc a:hover,	
#dokarchive_table th.ui-table-desc a:active,	
#dokarchive_table th.ui-table-desc a:focus, 
#dokarchive_table th a:hover,	
#dokarchive_table th a:active,	
#dokarchive_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#dokarchive_table th.ui-table-asc a:hover, 
#dokarchive_table th.ui-table-asc a:active, 
#dokarchive_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#dokarchive_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}
#dokarchive_table tr.odd {
	background-color: #e3e3e3;
}

#evaluate_plan_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#evaluate_plan_table td {padding-left:1px; padding-right:1px;font-size:0.8em;}
#evaluate_plan_table th {white-space:nowrap;}
#evaluate_plan_table td[headers~=ui-table-evaluate_plan_table-header-8] {white-space:nowrap;}

#evaluate_plan_table th { 	
	border: 1px solid #cccccc; 
}
#evaluate_plan_table th a {	
	/*padding: 0.5em 2em 0.5em 0.7em; */
	padding: 0em 0em 0em 0em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#evaluate_plan_table th a:hover {
	text-decoration:none;
}	
#evaluate_plan_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#evaluate_plan_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#evaluate_plan_table th.ui-table-desc a:hover,	
#evaluate_plan_table th.ui-table-desc a:active,	
#evaluate_plan_table th.ui-table-desc a:focus, 
#evaluate_plan_table th a:hover,	
#evaluate_plan_table th a:active,	
#evaluate_plan_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#evaluate_plan_table th.ui-table-asc a:hover, 
#evaluate_plan_table th.ui-table-asc a:active, 
#evaluate_plan_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#evaluate_plan_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}
#evaluate_plan_table tr.odd {
	background-color: #e3e3e3;
}

#plan_create_table table[aria-labelledby~=table-caption] {table-layout: auto;}
#plan_create_table td {padding-left:1px; padding-right:1px;font-size:0.8em;}
#plan_create_table th {white-space:nowrap;}
#plan_create_table td[headers~=ui-table-plan_create_table-header-8] {white-space:nowrap;}

#plan_create_table th { 	
	border: 1px solid #cccccc; 
}
#plan_create_table th a {	
	/*padding: 0.5em 2em 0.5em 0.7em; */
	padding: 0em 0em 0em 0em; 
	display: block;
	line-height: 1;
	color: black;
	border: 0 !important;
	position: relative;
}
#plan_create_table th a:hover {
	text-decoration:none;
}	
#plan_create_table th.ui-table-desc a {	
	background: url(desc.gif) right center no-repeat;
}
#plan_create_table th.ui-table-asc a{	
	background: url(asc.gif) right center no-repeat;
}
#plan_create_table th.ui-table-desc a:hover,	
#plan_create_table th.ui-table-desc a:active,	
#plan_create_table th.ui-table-desc a:focus, 
#plan_create_table th a:hover,	
#plan_create_table th a:active,	
#plan_create_table th a:focus{	
	background: url(../images/asc.gif) right center no-repeat;
}
#plan_create_table th.ui-table-asc a:hover, 
#plan_create_table th.ui-table-asc a:active, 
#plan_create_table th.ui-table-asc a:focus{	
	background: url(../images/desc.gif) right center no-repeat;
}
#plan_create_table .ui-state-active {
	background: #99CCFF none repeat scroll 0 0;
}
#plan_create_table tr.odd {
	background-color: #e3e3e3;
}

#installtabs {
	height: 700px;
}

#installtabs tr {
	font-size:80%;
}

#installtabs a {
	font-size:80%;
}
