
body {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
	font-family:arial,verdana,sans-serif;font-weight:lighter;text-align:center;color:#000;font-size:100.01%;
}


#disabled {display:none;}
.noscript .enabled {display:none;}
.noscript .disabled {display:block;}
.enabled {display:block}
.disabled{display:none}

/* header styles */
#header {
	clear:both;
    float:left;
    width:100%;
	background-color:#efeff8;
	height:11em;
}


.logoBar {vertical-align:bottom;background-color:#efeff8;width:64em;height:8.32em}

#logo {margin:0;float:left;border:none;background-color:#efeff8;}
#logoNav ul {list-style:none;text-align:right;background-color:#efeff8;}
#logoNav li {list-style:none;font-size:0.8em;}
#logoNav a {text-decoration:none;color:#333;}
#logoNav a:hover {text-decoration:underline;}

/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.leftmenu {
    background:#e0eaf7;
	text-align:left;

}
.leftmenu .colright {
    float:left;
    width:200%;
    position:relative;
    left:12em;
}

.leftmenu .col1wrap {
    float:right;
    width:50%;
    position:relative;
    right:12em;
    padding-bottom:1em;
}

.leftmenu .col1 {
    margin:0 1em 0 13em;
    position:relative;
    right:100%;
    overflow:hidden;
}

.leftmenu .col2 {
    float:left;
    width:10em;
    position:relative;
    right:11em;
}

/*.leftmenu {
	background-color:#e0eaf7;
	border-right-color:#b4c8de;
	border-right-style:solid;
	border-right-width:0.125em;
	vertical-align: top;
	text-align:left;
}*/

/* footer */

#footer {clear:both;float:left;width:100%;border-top:1px solid #000;}
 */