/*
   $Id: stylesheet.css 1047 2018-04-18 14:19:46Z kriegeth $
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: 'BitStream Vera Sans', 'Verdana', 'Arial', 'Helvetica',
        sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0000a8;
}

a:hover {
    text-decoration: underline;
    color: #0000a8;
}

a:visited, a:active {
    color: #0000a8;
}

#installform {
    height: 680px;
}

#installfieldset {
    height: 550px;
}

#header {
    background-color: #eaeae8; /*#c2d8ff;*/
}

#headerlogin {
    background-color: #ffffff; /*#c2d8ff;*/
}

#headerleft {
    height: 60px;
    vertical-align: middle;
}

#headerright {
    background-color: #eaeae8;
    height: 60px;
    min-width: 500px;
    text-align: left;
    vertical-align: middle;
    padding-right: 10px;
}

#headerrightlogin {
    height: 60px;
    min-width: 500px;
    text-align: left;
    vertical-align: middle;
    padding-right: 10px;
}

#subheaderpld {
    background-color: #ffffff; /*#CFFDFF;*/
    padding-left: 200px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    /* padding-top: 5px; */
}

#subheader {
    background-color: #ffffff; /*#CFFDFF;*/
}

#subheaderright h5 {
    vertical-align: middle;
    color: #0000ff;
}

#subheaderleft {
    background-color: #eaeae8;
    height: 60px;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

#subheaderright {
    background-color: #ffffff; /*#CFFDFF;*/
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #0000ff;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 5px;
}

.clear {
    clear: both;
    /*height: 10px;*/
    float: none;
}

#wrap {
    max-width: 980px;
    margin: auto;
    padding: .5em;
    text-align: left;
    padding-top: .2em;
    margin-bottom: 16px;
    min-width: 700px;
}

#left {
    width: 200px;
    text-align: left;
    background-color: #eaeae8; /*#CFFDFF;*/
}

#left h3 {
    background-color: #818180; /*#c2d8ff;*/
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

#left .menuheader {
    background-color: #c2d8ff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#right {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 1px;
    vertical-align: middle;
    background-color: #ffffff;
}

#righttext {
    padding-left: 10px;
}

#footer {
    text-align: left;
    margin-bottom: 16px;
    min-width: 700px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px 0 0 0;
}

#footer {
    border-top: 1px solid #bbbbbb;
    /* background: #ddeeff; */ /* #efefef; */
    background-color: #eaeae8;
    color: #000000; /* #999999; */
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 9px;
}

#footer a {
    text-decoration: none;
    color: #000000; /* #999999; */
}

#footer a:hover {
    text-decoration: underline;
    color: #000000; /* #777777; */
}

.leftmenu ul li {
    display: block;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    padding-right: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: table-row;
}

.select {
    font-size: 11px;
}

.input {
    font-size: 11px;
}

.button {
    border: 2px solid #aaaaaa;
    color: #000000; /* #777777; */
    background: #ddeeff; /* #dddddd; */
    padding: 3px 3px 3px 3px;
    font-size: 10px;
    font-weight: bold;
    outline-style: ridge;
    outline-width: thin;
}

.button:hover {
    background: #99ccff; /* #BCFF36 */
    color: #000000; /* #888888; */
}

.buttondisabled {
    border: 2px solid #aaaaaa;
    color: #000000; /* #777777; */
    background: #dddddd;
    padding: 3px 3px 3px 3px;
    font-size: 10px;
    font-weight: bold;
    outline-style: ridge;
    outline-width: thin;
}

.standout {
    color: maroon;
    padding: 3px 3px 3px 3px;
    text-align: center;
}

.standoutinst {
    color: maroon;
    padding: 3px 3px 3px 3px;
    text-align: left;
}

.standoutinst ul {
    padding-left: 15px;
}

.chzn-select {
    white-space: nowrap;
}

.hlpcenter {
    text-align: left;
}

.greycell {
    background-color: #dddddd;
}

#login {
    width: 100%;
    margin: 0 auto;
}

#logintable {
    border-left: 8px solid gray;
    border-right: 8px solid gray;
    background: #eeeeee;
    width: 350px;
    margin: 0 auto;
}

#logintable h4 {
    font-size: 13px;
}

#menu {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

#menu ul li {
    display: inline;
    background: #ddeeff; /*#efefef; */
    padding: 20px 5px 5px 5px;
    margin-right: 3px;
    border-top: 4px solid #aaaaaa;
}

#menu ul li:hover {
    background: #99ccff; /* #BFFF00; /* #888888 /* #F32121; */
    color: white;
}

#menu ul li a {
    color: #000000; /* #888888; */
}

#menu ul li a:hover {
    color: #000000; /* #888888; */
}

#mainmenu, #editform {
    /* width: 750px; */
    width: 100%;
    margin: 0 auto;
}

#mainmenu h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

#mainmenu h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.theader {
    background-color: #ddeeff;
    font-weight: bold;
}

.tline {
    background-color: #f0f0f0;
}

.topmenu ul {
    display: block;
}

.topmenu li {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
}

.bgeaeae8 {
    background-color: #eaeae8;
}

#installtabs {
    height: 550px;
}

#installtabs tr {
    font-size: 100%;
}

#installtabs a {
    font-size: 100%;
}

.helpdialog {
    text-align: left;
    font-size: 1.1em;
}

/* common table definitions */
#userlisttable td, #logtable td, #lockedusertable td, #accessreptable td,
    #grantedrightstable td, #grouplisttable td, #groupadminlisttable td,
    #repolisttable td, #projectlisttable td, #accessrightlisttable td,
    #showuserprojecttable td, #showusergrouptable td,
    #showgroupusertable td, #showuserrighttable td, #showgrouprighttable td,
    #showgroupadmintable td {
    padding-left: 1px;
    padding-right: 1px;
    font-size: 1em;
}

#userlisttable th, #logtable th, #lockedusertable th, #accessreptable th,
    #grantedrightstable th, #grouplisttable th, #groupadminlisttable th,
    #repolisttable th, #projectlisttable th, #accessrightlisttable th,
    #showuserprojecttable th, #showusergrouptable th,
    #showgroupusertable th, #showuserrighttable th, #showgrouprighttable th,
    #showgroupadmintable th {
    white-space: nowrap;
    border: 1px solid #cccccc;
}

#userlisttable th a, #logtable th a, #lockedusertable th a,
    #accessreptable th a, #grantedrightstable th a, #grouplisttable th a,
    #groupadminlisttable th a, #repolisttable th a, #projectlisttable th a,
    #accessrightlisttable th a, #showuserprojecttable th a,
    #showusergrouptable th a, #showgroupusertable th a,
    #showuserrighttable th a, #showgrouprighttable th a,
    #showgroupadmintable th a {
    padding: .5em 2em .5em .7em;
    display: block;
    line-height: 1;
    color: black;
    border: 0 !important;
    position: relative;
}

#userlisttable th a:hover, #logtable th a:hover, #lockedusertable th a:hover,
    #accessreptable th a:hover, #grantedrightstable th a:hover,
    #grouplisttable th a:hover, #groupadminlisttable th a:hover,
    #repolisttable th a:hover, #projectlisttable th a:hover,
    #accessrightlisttable th a:hover, #showuserprojecttable th a:hover,
    #showusergrouptable th a:hover, #showgroupusertable th a:hover,
    #showuserrighttable th a:hover, #showgrouprighttable th a:hover,
    #showgroupadmintable th a:hover {
    text-decoration: none;
}

#userlisttable .ui-state-active, #logtable .ui-state-active,
    #lockedusertable .ui-state-active, #accessreptable .ui-state-active,
    #grantedrightstable .ui-state-active, #grouplisttable .ui-state-active,
    #groupadminlisttable .ui-state-active, #repolisttable .ui-state-active,
    #projectlisttable .ui-state-active, #accessrightlisttable .ui-state-active,
    #showuserprojecttable .ui-state-active, #showusergrouptable .ui-state-active,
    #showgroupusertable .ui-state-active, #showuserrighttable .ui-state-active,
    #showgrouprighttable .ui-state-active, #showgroupadmintable .ui-state-active {
    background: #99ccff none repeat scroll 0 0;
}

#userlisttable tr.odd, #logtable tr.odd, #lockedusertable tr.odd,
    #accessreptable tr.odd, #grantedrightstable tr.odd, #grouplisttable tr.odd,
    #groupadminlisttable tr.odd, #repolisttable tr.odd,
    #projectlisttable tr.odd, #accessrightlisttable tr.odd,
    #showuserprojecttable tr.odd, #showusergrouptable tr.odd,
    #showgroupusertable tr.odd, #showuserrighttable tr.odd,
    #showgrouprighttable tr.odd, #showgroupadmintable tr.odd {
    background-color: #e3e3e3;
}

/* special table definitions */
#userlisttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#userlisttable td[headers~=ui-table-userlisttable-header-4] {
    text-align: center;
}

#userlisttable td[headers~=ui-table-userlisttable-header-5] {
    text-align: center;
}

#userlisttable td[headers~=ui-table-userlisttable-header-6] {
    text-align: center;
}

#userlisttable td[headers~=ui-table-userlisttable-header-7] {
    text-align: center;
}

#userlisttable td[headers~=ui-table-userlisttable-header-8] {
    text-align: center;
}

#userlisttable td[headers~=ui-table-userlisttable-header-9] {
    white-space: nowrap;
    text-align: center;
}

#userlisttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#userlisttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#userlisttable th.ui-table-desc a:hover, #userlisttable th.ui-table-desc a:active,
    #userlisttable th.ui-table-desc a:focus, #userlisttable th a:hover,
    #userlisttable th a:active, #userlisttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#userlisttable th.ui-table-asc a:hover, #userlisttable th.ui-table-asc a:active,
    #userlisttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#logtable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#logtable td[headers~=ui-table-logtable-header-1] {
    white-space: nowrap;
}

#logtable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#logtable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#logtable th.ui-table-desc a:hover, #logtable th.ui-table-desc a:active,
    #logtable th.ui-table-desc a:focus, #logtable th a:hover, #logtable th a:active,
    #logtable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#logtable th.ui-table-asc a:hover, #logtable th.ui-table-asc a:active,
    #logtable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#lockedusertable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#lockedusertable td[headers~=ui-table-lockedusertable-header-1] {
    white-space: nowrap;
    text-align: center;
}

#lockedusertable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#lockedusertable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#lockedusertable th.ui-table-desc a:hover, #lockedusertable th.ui-table-desc a:active,
    #lockedusertable th.ui-table-desc a:focus, #lockedusertable th a:hover,
    #lockedusertable th a:active, #lockedusertable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#lockedusertable th.ui-table-asc a:hover, #lockedusertable th.ui-table-asc a:active,
    #lockedusertable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#accessreptable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#accessreptable td[headers~=ui-table-accessreptable-header-1] {
    white-space: nowrap;
    text-align: center;
}

#accessreptable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#accessreptable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#accessreptable th.ui-table-desc a:hover, #accessreptable th.ui-table-desc a:active,
    #accessreptable th.ui-table-desc a:focus, #accessreptable th a:hover,
    #accessreptable th a:active, #accessreptable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#accessreptable th.ui-table-asc a:hover, #accessreptable th.ui-table-asc a:active,
    #accessreptable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#grantedrightstable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#grantedrightstable td[headers~=ui-table-grantedrightstable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#grantedrightstable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#grantedrightstable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#grantedrightstable th.ui-table-desc a:hover, #grantedrightstable th.ui-table-desc a:active,
    #grantedrightstable th.ui-table-desc a:focus, #grantedrightstable th a:hover,
    #grantedrightstable th a:active, #grantedrightstable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#grantedrightstable th.ui-table-asc a:hover, #grantedrightstable th.ui-table-asc a:active,
    #grantedrightstable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#grouplisttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#grouplisttable td[headers~=ui-table-grouplisttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#grouplisttable td[headers~=ui-table-grouplisttable-header-2] {
    text-align: left;
}

#grouplisttable td[headers~=ui-table-grouplisttable-header-3] {
    white-space: nowrap;
    text-align: center;
}

#grouplisttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#grouplisttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#grouplisttable th.ui-table-desc a:hover, #grouplisttable th.ui-table-desc a:active,
    #grouplisttable th.ui-table-desc a:focus, #grouplisttable th a:hover,
    #grouplisttable th a:active, #grouplisttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#grouplisttable th.ui-table-asc a:hover, #grouplisttable th.ui-table-asc a:active,
    #grouplisttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#groupadminlisttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#groupadminlisttable td[headers~=ui-table-groupadminlisttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#groupadminlisttable td[headers~=ui-table-groupadminlisttable-header-2] {
    text-align: left;
}

#groupadminlisttable td[headers~=ui-table-groupadminlisttable-header-5] {
    white-space: nowrap;
    text-align: center;
}

#groupadminlisttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#groupadminlisttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#groupadminlisttable th.ui-table-desc a:hover, #groupadminlisttable th.ui-table-desc a:active,
    #groupadminlisttable th.ui-table-desc a:focus, #groupadminlisttable th a:hover,
    #groupadminlisttable th a:active, #groupadminlisttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#groupadminlisttable th.ui-table-asc a:hover, #groupadminlisttable th.ui-table-asc a:active,
    #groupadminlisttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#repolisttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#repolisttable td[headers~=ui-table-repolisttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#repolisttable td[headers~=ui-table-repolisttable-header-2] {
    text-align: left;
}

#repolisttable td[headers~=ui-table-repolisttable-header-5] {
    white-space: nowrap;
    text-align: center;
}

#repolisttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#repolisttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#repolisttable th.ui-table-desc a:hover, #repolisttable th.ui-table-desc a:active,
    #repolisttable th.ui-table-desc a:focus, #repolisttable th a:hover,
    #repolisttable th a:active, #repolisttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#repolisttable th.ui-table-asc a:hover, #repolisttable th.ui-table-asc a:active,
    #repolisttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#projectlisttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#projectlisttable td[headers~=ui-table-projectlisttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#projectlisttable td[headers~=ui-table-projectlisttable-header-2] {
    text-align: left;
}

#projectlisttable td[headers~=ui-table-projectlisttable-header-4] {
    white-space: nowrap;
    text-align: center;
}

#projectlisttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#projectlisttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#projectlisttable th.ui-table-desc a:hover, #projectlisttable th.ui-table-desc a:active,
    #projectlisttable th.ui-table-desc a:focus, #projectlisttable th a:hover,
    #projectlisttable th a:active, #projectlisttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#projectlisttable th.ui-table-asc a:hover, #projectlisttable th.ui-table-asc a:active,
    #projectlisttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#accessrightlisttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#accessrightlisttable td[headers~=ui-table-accessrightlisttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#accessrightlisttable td[headers~=ui-table-accessrightlisttable-header-2] {
    text-align: left;
}

#accessrightlisttable td[headers~=ui-table-accessrightlisttable-header-9] {
    white-space: nowrap;
    text-align: center;
}

#accessrightlisttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#accessrightlisttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#accessrightlisttable th.ui-table-desc a:hover, #accessrightlisttable th.ui-table-desc a:active,
    #accessrightlisttable th.ui-table-desc a:focus,
    #accessrightlisttable th a:hover, #accessrightlisttable th a:active,
    #accessrightlisttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#accessrightlisttable th.ui-table-asc a:hover, #accessrightlisttable th.ui-table-asc a:active,
    #accessrightlisttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#showuserprojecttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#showuserprojecttable td {
    padding-left: 1px;
    padding-right: 1px;
    font-size: 1em;
}

#showuserprojecttable th {
    white-space: nowrap;
    border: 1px solid #cccccc;
}

#showuserprojecttable td[headers~=ui-table-showuserprojecttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#showuserprojecttable td[headers~=ui-table-showuserprojecttable-header-2] {
    text-align: left;
}

#showuserprojecttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#showuserprojecttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#showuserprojecttable th.ui-table-desc a:hover, #showuserprojecttable th.ui-table-desc a:active,
    #showuserprojecttable th.ui-table-desc a:focus,
    #showuserprojecttable th a:hover, #showuserprojecttable th a:active,
    #showuserprojecttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#showuserprojecttable th.ui-table-asc a:hover, #showuserprojecttable th.ui-table-asc a:active,
    #showuserprojecttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#showusergrouptable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#showusergrouptable td[headers~=ui-table-showusergrouptable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#showusergrouptable td[headers~=ui-table-showusergrouptable-header-2] {
    text-align: left;
}

#showusergrouptable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#showusergrouptable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#showusergrouptable th.ui-table-desc a:hover, #showusergrouptable th.ui-table-desc a:active,
    #showusergrouptable th.ui-table-desc a:focus, #showusergrouptable th a:hover,
    #showusergrouptable th a:active, #showusergrouptable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#showusergrouptable th.ui-table-asc a:hover, #showusergrouptable th.ui-table-asc a:active,
    #showusergrouptable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#showgroupusertable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#showgroupusertable td[headers~=ui-table-showgroupusertable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#showgroupusertable td[headers~=ui-table-showgroupusertable-header-2] {
    text-align: left;
}

#showgroupusertable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#showgroupusertable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#showgroupusertable th.ui-table-desc a:hover, #showgroupusertable th.ui-table-desc a:active,
    #showgroupusertable th.ui-table-desc a:focus, #showgroupusertable th a:hover,
    #showgroupusertable th a:active, #showgroupusertable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#showgroupusertable th.ui-table-asc a:hover, #showgroupusertable th.ui-table-asc a:active,
    #showgroupusertable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#showuserrighttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#showuserrighttable td[headers~=ui-table-showuserrighttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#showuserrighttable td[headers~=ui-table-showuserrighttable-header-2] {
    text-align: left;
}

#showuserrighttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#showuserrighttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#showuserrighttable th.ui-table-desc a:hover, #showuserrighttable th.ui-table-desc a:active,
    #showuserrighttable th.ui-table-desc a:focus, #showuserrighttable th a:hover,
    #showuserrighttable th a:active, #showuserrighttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#showuserrighttable th.ui-table-asc a:hover, #showuserrighttable th.ui-table-asc a:active,
    #showuserrighttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#showgrouprighttable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#showgrouprighttable td[headers~=ui-table-showgrouprighttable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#showgrouprighttable td[headers~=ui-table-showgrouprighttable-header-2] {
    text-align: left;
}

#showgrouprighttable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#showgrouprighttable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#showgrouprighttable th.ui-table-desc a:hover, #showgrouprighttable th.ui-table-desc a:active,
    #showgrouprighttable th.ui-table-desc a:focus, #showgrouprighttable th a:hover,
    #showgrouprighttable th a:active, #showgrouprighttable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#showgrouprighttable th.ui-table-asc a:hover, #showgrouprighttable th.ui-table-asc a:active,
    #showgrouprighttable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#showgroupadmintable table[aria-labelledby~=table-caption] {
    table-layout: auto;
}

#showgroupadmintable td[headers~=ui-table-showgroupadmintable-header-1] {
    white-space: nowrap;
    text-align: left;
}

#showgroupadmintable td[headers~=ui-table-showgroupadmintable-header-2] {
    text-align: left;
}

#showgroupadmintable th.ui-table-desc a {
    background: url('./images/desc.gif') right center no-repeat;
}

#showgroupadmintable th.ui-table-asc a {
    background: url('./images/asc.gif') right center no-repeat;
}

#showgroupadmintable th.ui-table-desc a:hover, #showgroupadmintable th.ui-table-desc a:active,
    #showgroupadmintable th.ui-table-desc a:focus, #showgroupadmintable th a:hover,
    #showgroupadmintable th a:active, #showgroupadmintable th a:focus {
    background: url('./images/asc.gif') right center no-repeat;
}

#showgroupadmintable th.ui-table-asc a:hover, #showgroupadmintable th.ui-table-asc a:active,
    #showgroupadmintable th.ui-table-asc a:focus {
    background: url('./images/desc.gif') right center no-repeat;
}

#disabled {
    display: none;
}

.noscript .enabled {
    display: none;
}

.noscript .disabled {
    display: block;
}

.enabled {
    display: block;
}

.disabled {
    display: none;
}
