
module svnaccessmanager 1.0;

require {
	type unconfined_t;
	type httpd_script_exec_t;
	type httpd_config_t;
	type pam_var_run_t;
	type httpd_t;
	type restorecon_t;
	type rpm_t;
	type fs_t;
	type etc_t;
	class process setrlimit;
	class filesystem associate;
	class capability { sys_resource audit_write };
	class file { rename create write getattr relabelto unlink };
	class netlink_audit_socket { write nlmsg_relay create read };
	class dir { search setattr read create write relabelfrom getattr rmdir relabelto remove_name add_name };
}

#============= httpd_t ==============
allow httpd_t etc_t:dir { write remove_name add_name };
allow httpd_t etc_t:file { write rename create unlink };
allow httpd_t fs_t:filesystem associate;
allow httpd_t httpd_config_t:dir { write remove_name add_name };
allow httpd_t httpd_config_t:file { write create unlink };
allow httpd_t httpd_script_exec_t:file getattr;
allow httpd_t pam_var_run_t:dir { write search getattr create add_name };
allow httpd_t self:capability { sys_resource audit_write };
allow httpd_t self:dir { write remove_name add_name };
allow httpd_t self:file { create unlink };
allow httpd_t self:netlink_audit_socket { write nlmsg_relay create read };
allow httpd_t self:process setrlimit;

#============= restorecon_t ==============
allow restorecon_t httpd_t:dir { read relabelto relabelfrom };
allow restorecon_t httpd_t:file relabelto;

#============= rpm_t ==============
allow rpm_t httpd_t:dir { write rmdir setattr remove_name relabelfrom relabelto add_name };
allow rpm_t httpd_t:file rename;

#============= unconfined_t ==============
allow unconfined_t httpd_t:dir { write remove_name };
allow unconfined_t httpd_t:file unlink;
