A:link     {
        color          : #000000;
		font-family    : Arial, Helvetica, Sans-Serif;
		font-size      : 10pt;
        font-weight    : normal;
        text-decoration: underline;
}
A:visited  {
        color          : #000000;
		font-family    : Arial, Helvetica, Sans-Serif;
		font-size      : 10pt;
        font-weight    : normal;
        text-decoration: underline;
}
A:active   {
        color          : #0000FF;
		font-family    : Arial, Helvetica, Sans-Serif;
		font-size      : 10pt;
        font-weight    : normal;
        text-decoration: underline;

}
A:hover    {
        color          : #0000FF;
		font-family    : Arial, Helvetica, Sans-Serif;
		font-size      : 10pt;
        font-weight    : normal;
        text-decoration: none;
}

A:textlink {
        color          : #000000;
		font-family    : Arial, Helvetica, Sans-Serif;
		font-size      : 10pt;
        font-weight    : normal;
        text-decoration: none;
}

H1        {
        color:            #0000ff;
        font-family:      Arial, Helvetica, Sans-Serif;
        font-style:       normal;
        font-weight:      bold;
        font-size:        18pt;
        text-decoration:  none;
        border-bottom-style:solid;
        border-bottom-width:3px;
        border-color:     black;

}

.H1-black        {
        color:            #0000ff;
        font-family:      Arial, Helvetica, Sans-Serif;
        font-style:       normal;
        font-weight:      bold;
        font-size:        18pt;
        text-decoration:  none;
        border-bottom-style:solid;
        border-bottom-width:3px;
        border-color:     blue;

}

.H1        {
        color:            #0000ff;
        font-family:      Arial, Helvetica, Sans-Serif;
        font-style:       normal;
        font-weight:      bold;
        font-size:        18pt;
        text-decoration:  none;
        border-bottom-style:solid;
        border-bottom-width:3px;
        border-color:     black;
}

H2        {
        color:            #0000ff;
        font-family:      Arial, Helvetica, Sans-Serif;
        font-style:       normal;
        font-weight:      bold;
        font-size:        16pt;
        text-decoration:  none;
        margin-top:       48px;
}

.H2        {
        color:             #0000ff;
        font-family:       Arial, Helvetica, Sans-Serif;
        font-style:        normal;
        font-weight:       bold;
        font-size:         16pt;
        text-decoration:   none;
        margin-top:        48px;
}

H3        {
        color:              #0000ff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          14pt;
        text-decoration:    none;
        margin-top:         48px;
}

.H3        {
        color:              #0000ff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          14pt;
        text-decoration:    none;
        margin-top:         48px;
}

.H3UL      {
        color:              #0000ff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          14pt;
        text-decoration:    none;
        margin-top:         48px;
        border-bottom-style:solid;
        border-bottom-width:3px;
        border-color:       black;
}

H4        {
        color:              #0000ff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          12pt;
        text-decoration:    none;
        margin-top:         48px;
}

.H4        {
        color:              #0000ff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          12pt;
        text-decoration:    none;
        margin-top:         48px;
}

H5        {
        color:              #0000ff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          12pt;
        text-decoration:    none;
        margin-top:         48px;
}

.H5        {
        color:              #0000ff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          12pt;
        text-decoration:    none;
        margin-top:         48px;
}

LI        {
        color:               #000000;
        font-family:         Arial,Helvetica,Sans-Serif;
        font-style:          normal;
        font-weight:         normal;
        font-size:           12pt;
        text-decoration:     none;
        text-align:          left;
        background-color:    #ffffff;
}

.rattenschwanzstyle {
        font-weight:        kursiv;
        font-size:          7pt;
        visibility:         visible;
        font-family:        Verdana;
        color:              red;
        position:           absolute;
        top:                -50px }

.tdspb        {
        color:              #000000;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        normal;
        font-size:          8pt;
        text-decoration:    none;
        background-color:   #ffffff;
}

.tdspberg {
        color:              #000000;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          10pt;
        text-decoration:    none;
        background-color:   #ffffff;
}

.tdmenu {
        color:              #000000;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-size:          10pt;
        text-decoration:    none;
        background-color:   #ffffff;
}

.tdlabel {
        color:              #000000;
        font-family:        Frutiger 57Cn,Arial,Helvetica,Sans-Serif;
        font-style:         normal;
        font-size:          12pt;
        text-decoration:    none;
        background-color:   #ffffff;
}

.pspb        {
        color:              #000000;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        normal;
        font-size:          10pt;
        text-decoration:    none;
        text-align:         justify;
        background-color:   #ffffff;
}

.tdspielheader {
        color:              #ffffff;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          10pt;
        text-decoration:    none;
        text-align:         left;
        background-color:   #0000ff;
}

.tdspielheim {
        color:              #000000;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        bold;
        font-size:          8pt;
        text-decoration:    none;
        text-align:         left;
        background-color:   #ffffcc;
}

.tdspielausw {
        color:              #000000;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        normal;
        font-size:          8pt;
        text-decoration:    none;
        text-align:         left;
        background-color:   #ffffff;
}

.tiny        {
        color:              #000000;
        font-family:        Arial, Helvetica, Sans-Serif;
        font-style:         normal;
        font-weight:        normal;
        font-size:          8pt;
        text-decoration:    none;
}

.pcenter     {
        color:               #000000;
        font-family:         Arial,Helvetica,Sans-Serif;
        font-style:          normal;
        font-weight:         normal;
        font-size:           12pt;
        text-decoration:     none;
        text-align:          center;
        background-color:    #ffffff;
}

.pleft     {
        color:               #000000;
        font-family:         Arial,Helvetica,Sans-Serif;
        font-style:          normal;
        font-weight:         normal;
        font-size:           12pt;
        text-decoration:     none;
        text-align:          left;
        background-color:    #ffffff;
}

.pright     {
        color:               #000000;
        font-family:         Arial,Helvetica,Sans-Serif;
        font-style:          normal;
        font-weight:         normal;
        font-size:           12pt;
        text-decoration:     none;
        text-align:          right;
        background-color:    #ffffff;
}

P        {
        color:               #000000;
        font-family:         Frutiger 57Cn,Arial,Helvetica,Sans-Serif;
        font-style:          normal;
        font-weight:         normal;
        font-size:           12pt;
        text-decoration:     none;
        text-align:          justify;
        background-color:    #ffffff;
}

.p-black        {
        color:               #FFFFFF;
        font-family:         Frutiger 57Cn,Arial,Helvetica,Sans-Serif;
        font-style:          normal;
        font-weight:         normal;
        font-size:           12pt;
        text-decoration:     none;
        text-align:          justify;
        background-color:    #FF6600;
}

.p-black-left        {
        color:               #FFFFFF;
        font-family:         Frutiger 57Cn,Arial,Helvetica,Sans-Serif;
        font-style:          normal;
        font-weight:         normal;
        font-size:           12pt;
        text-decoration:     none;
        text-align:          left;
        background-color:    #FF6600;
}
