
module svnam 1.0;

require {
	type httpd_t;
	type httpd_initrc_exec_t;
	type etc_t;
	class process setrlimit;
	class capability { sys_resource audit_write };
	class file { write rename create unlink getattr };
	class dir { write remove_name add_name };
	class netlink_audit_socket { nlmsg_relay create };
}

#============= httpd_t ==============
#!!!! This avc is allowed in the current policy

allow httpd_t etc_t:dir { write remove_name add_name };
#!!!! This avc is allowed in the current policy

allow httpd_t etc_t:file { write rename create unlink };
#!!!! This avc is allowed in the current policy

allow httpd_t httpd_initrc_exec_t:file getattr;
#!!!! This avc is allowed in the current policy

allow httpd_t self:capability { sys_resource audit_write };
#!!!! This avc is allowed in the current policy

allow httpd_t self:netlink_audit_socket { nlmsg_relay create };
#!!!! This avc is allowed in the current policy

allow httpd_t self:process setrlimit;
